<!DOCTYPE html>
<html lang="jp" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="../dist/angular.js"></script>
    <script src="../dist/angular-sanitize.min.js"></script>
    <script src="../dist/angular-sanitize.js"></script>
    <script src="../dist/ui-utils.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-controller="myCtrl">

    <div class="markdown_help">
        <input ng-model="searchWord" class="form-control" type="text" placeholder="検索はこちら">
    </div>

    <div class="markdown_help clearfix">
        <ul>
            <li ng-repeat="md in mdList | filter:searchWord ">
                <div class="md-title" ng-bind-html=" md.title | highlight : searchWord "></div>
                <div class="md-desc" ng-bind-html=" md.description | highlight : searchWord"></div>
                <div class="md-desc" ng-bind-html="md.tag"></div>
            </li>
        </ul>
    </div>

</body>
</html>