<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<meta charset="UTF-8">
	<title>take_todoList</title>
	<script src="../angular.js"></script>
	<script src="take_todoList.js"></script>
	<link rel="stylesheet" href="take_todoList.css"></script>
</head>
<body>
	<h1>TODO LIST</h1>
	<div ng-controller="TodoListController as todoList">

		<!-- dialog which appears onclick:add ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
		<div id="dialog-background" class="remove"></div>
		<div id="add-dialog" class="remove">
			<input ng-model="todoList.todoText"  type="text" size="30" placeholder="add new todo here!" /><br>
			<input ng-click="todoList.addTodo()" class="button" type="button" value="add" />
			<input ng-click="todoList.closeAddDialog()" class="button" type="button" value="exit" />
		</div>
		<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

		<!-- dialog which appears onclick:remove ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
		<div id="dialog-background" class="remove"></div>
		<div id="remove-dialog" class="remove">
			<p>You really want to remove checked-tasks?</p>
			<input ng-click="todoList.removeTodo()" type="button" class="button" value="remove"/>
			<input ng-click="todoList.closeRemoveDialog()" class="button" type="button" value="exit" />
		</div>
		<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

		<!-- Show Task List ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
		<input ng-click="todoList.openAddDialog()" type="button" id="taskAdd" value="add" class="button" />
		<input ng-click="todoList.openRemoveDialog()" type="button" id="taskRemove" value="remove" class="button" />
		<input type="text" ng-model="todoList.search" class="search-query" id="todos_search"
       placeholder="Search"><br/>
		<table>
		  <thead>
		  <tr>
		    <th>check</th>
		    <th>TodoTask</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr ng-repeat="todo in todoList.todos | filter:todoList.search | orderBy:'name'">
		  		<td><input type="checkbox" ng-model="todo.done"/></td>
		  		<td class="done-{{todo.done}}">{{todo.text}}</td>
		  </tr>
		  </tbody>
		</table>
		<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
	</div>
</body>
</html>